@tailwind base;
@tailwind components;
@tailwind utilities;

.download-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    background-color:aquamarine;
    padding: 20px;
    color: black;
}

.download-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: black;
}

.download-container p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: black;
}

.download-button a {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1.2rem;
    color: #000000;
    background-color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.download-button a:hover {
    background-color: #00cc00;
}
