@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

.mainbody {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.children {
    min-height: 80vh;
    flex-grow: 1;
}

.mainbodyy {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
    padding: 2rem;
    margin: auto;
    justify-content: space-around;
}

.Player-container {
    height: 10vh;
    background-color: green;
    color: white;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.player-buttons {
    margin-top: 1%;
}

.about {
    margin-bottom: 20px;
    margin: auto;
    padding: 2rem;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.about h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.25rem;
    line-height: 1.6;
}

.tinnitus-image {
    border: 1px solid #000000;
    border-radius: 4px;
    height: auto;
    max-width: 200px;
}

.reference {
    text-align: center;
}

.photo-and-reference {
    margin-bottom: 2rem;
    left: auto; 
    right: 0;  

    @media (min-width: 768px) {
        margin-bottom: 0;
    }
}


.text-lg {
    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: 768px) {
        flex-basis: 70%;
        max-width: 70%;
    }
}

.home-container{
    height: 80vh;
}