@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    scroll-behavior: smooth;
}

.mainbody {
    display: flex;
    flex-direction: row;
    height: 100vh;

    @media (max-width: 1024px) {
        flex-direction: column;
    }
}

.children {
    height: 80vh;
    flex-grow: 1;
    overflow-y: scroll;

    @media (max-width: 1024px) {
        height: 75vh;
    }
}

.mainbodyy {
    display: flex;
    flex-direction: column;
    height: 80vh;
    max-height: 80vh;
    overflow: hidden;
    padding: 2rem;
    margin: auto;
    justify-content: space-around;
}

.content{
    overflow: hidden;
}

.Player-container {
    height: 10vh;
    background-color:rgb(24,59,90);
    color: white;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    @media (max-width: 1024px) {
        width: 100vw;
    }
}

.player-buttons {
    margin-top: 1%;
   
}

/*.about {
    margin-bottom: 20px;
    margin: auto;
    padding: 2rem;
    background: rgb(34, 191, 199);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (min-width: 300px) {
        flex-direction: row;
    }
}*/

.about {
    margin: auto;
    padding: 3rem;
    background: linear-gradient(135deg, #6aaaae, #1f8ea7);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
    color: black;

  
    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    }

    @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}


.about > * {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s ease-out forwards;
}


.about > *:nth-child(1) {
    animation-delay: 0.1s;
}
.about > *:nth-child(2) {
    animation-delay: 0.3s;
}
.about > *:nth-child(3) {
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.about h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.25rem;
    line-height: 1.6;
    font:500;
}

.tinnitus-image {
    border: 1px solid #000000;
    border-radius: 100px;
    height: auto;
    max-width: 200px;
}

.reference {
    text-align: center;
}

.photo-and-reference {
    margin-bottom: 2rem;
    left: auto; 
    right: 0;  

    @media (min-width: 1024px) {
        margin-bottom: 0;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}

.text-lg {
    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: 1024px) {
        flex-basis: 70%;
        max-width: 70%;
    }
}

.home-container{
    height: 80vh;
    background-color:blue;
}

.aside{
    background-color: rgb(33, 85, 135);
}
