/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
@tailwind base;
@tailwind components;
@tailwind utilities;
.Navbar {
  @apply bg-[#ef3131] text-[white] flex justify-between items-center p-2.5;
  font-family: "Courier New", Courier, monospace;
}
.heading {
  @apply text-[2em];
}
.download {
  @apply text-[1em] rounded-[50px] hover:text-[1em] hover:rounded-[50px];
  background: #524b4b;
}
@media (max-width: 788px) {
  .download {
    @apply hidden;
  }
}
.download:hover {
  background: #644545;
}
