.navbar {
    background-color: #000000; /* Spotify green */
    color: #fff;
    padding: 10px 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-logo {
    font-size: 1.5rem;
}

.navbar-logo-link {
    color: #fff;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-right: 15px;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.navbar-link:hover {
    background-color: #26A860; /* Darker green on hover */
}

.btn-download {
    background-color: #1DB954; /* Spotify green */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 15px;
    border: none;
    cursor: pointer;
}

.btn-download:hover {
    background-color: #26A860; /* Darker green on hover */
}
