@tailwind base;
@tailwind components;
@tailwind utilities;

.Navbar {
    background-color: black;
    color: white;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-size: 2em;
}

.download {
    font-size: 1em;
    border-radius: 50px;
    background: #524b4b;
}

.download:hover {
    font-size: 1em;
    border-radius: 50px;
    background: #644545;
}