.sidebar{
    display: flex;
    flex-direction: column;
    width: 15vw;
    background-color: rgb(22, 22, 95);
    max-height: 90vh;
}

.button-container{
    flex-direction: row;
    gap: 20vh;
}

.buttons{
    background-color: rgb(211, 183, 238);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 4vh;
    margin-top: 4vh;
}

Link{
    cursor: pointer;
}