.sidebar{
    display: flex;
    flex-direction: column;
    width: 15vw;
    max-height: 90vh;
    @media (max-width:768px){
        max-height: 10vh;
        width: 100vw;
    }
}

.button-container{
    flex-direction: row;
    gap: 20vh;
}

.buttons{
    background-color: blueviolet;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 4vh;
    margin-top: 4vh;
}

Link{
    cursor: pointer;
}